:80 {
    request_body max_size 20MB

    # 1. Storage
    handle /storage/* {
        uri strip_prefix /storage
        reverse_proxy storage:9000
    }

    # 1.1 Minio - adming
    handle /minio-admin/* {
        uri strip_prefix /minio-admin
        reverse_proxy storage:9001
    }

    # 2. API
    handle /api* {
        reverse_proxy backend:3000
    }

    # 3. WebSockets (App Logic)
    handle /ws* {
        reverse_proxy backend:3000
    }

    # 4. SvelteKit HMR
    handle /_svelte_kit_hmr* {
        reverse_proxy frontend:3001
    }

    # 5. Frontend - Catch all
    handle {
        reverse_proxy frontend:3001
    }
}
